<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.certus.dao.DetectResultMapper" >
  <resultMap id="BaseResultMap" type="com.certus.dao.DetectResult" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="detect_type_id" property="detectTypeId" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="pre_index" property="index" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, detect_type_id, content, pre_index
  </sql>
  
   <select id="getTypeByDetectType" parameterType="java.lang.Integer" resultMap="BaseResultMap" >
	   select
	     <include refid="Base_Column_List"/>
	     from detect_result where detect_type_id = #{id,jdbcType=INTEGER}
   </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from detect_result
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from detect_result
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.certus.dao.DetectResult" >
    insert into detect_result (id, detect_type_id, content, 
      pre_index)
    values (#{id,jdbcType=INTEGER}, #{detectTypeId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{index,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.certus.dao.DetectResult" >
    insert into detect_result
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="detectTypeId != null" >
        detect_type_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="index != null" >
        pre_index,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="detectTypeId != null" >
        #{detectTypeId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="index != null" >
        #{index,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.certus.dao.DetectResult" >
    update detect_result
    <set >
      <if test="detectTypeId != null" >
        detect_type_id = #{detectTypeId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="index != null" >
        pre_index = #{index,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.certus.dao.DetectResult" >
    update detect_result
    set detect_type_id = #{detectTypeId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      pre_index = #{index,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>