<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.certus.dao.RemarksMapper" >
  <resultMap id="BaseResultMap" type="com.certus.dao.Remarks" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sample_type_id" property="sampleTypeId" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="index" property="index" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sample_type_id, content, `index`,type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from remarks
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from remarks
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.certus.dao.Remarks" >
    insert into remarks (id, sample_type_id, content, 
      index,type)
    values (#{id,jdbcType=INTEGER}, #{sampleTypeId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{index,jdbcType=INTEGER},#{type,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.certus.dao.Remarks" >
    insert into remarks
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sampleTypeId != null" >
        sample_type_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="index != null" >
        index,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sampleTypeId != null" >
        #{sampleTypeId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="index != null" >
        #{index,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.certus.dao.Remarks" >
    update remarks
    <set >
      <if test="sampleTypeId != null" >
        sample_type_id = #{sampleTypeId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="index != null" >
        index = #{index,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.certus.dao.Remarks" >
    update remarks
    set sample_type_id = #{sampleTypeId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      index = #{index,jdbcType=INTEGER},type=#{type,jdbcType=TINYINT} 
    where id = #{id,jdbcType=INTEGER}
  </update>
  
    <select id="queryRmarksList" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from remarks 
    where  sample_type_id = #{sampleTypeId,jdbcType=INTEGER} order by type,`index`
  </select>
</mapper>