<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.certus.dao.UserEntityMapper">

	<select id="findByStatusAndName" parameterType="com.certus.filter.UserSearchFilter" resultType="com.certus.vo.UserVO">
		select id id,name as name,email email, telephone telephone, tenant_name tenant_name,status status,description description,provider provider,insert_time insertTime, update_time updateTime from t_user where name like '%${userName}%' and status = #{userStatus} order by insertTime DESC
	</select>
	
	<select id="findAll" parameterType="com.certus.filter.UserSearchFilter" resultType="com.certus.vo.UserVO">
		select id id,name as name,email email, telephone telephone, tenant_name tenant_name,status status,description description,provider provider,insert_time insertTime, update_time updateTime from t_user where name like '%${userName}%' order by insertTime DESC
	</select>
	
    <select id="findById" parameterType="long" resultType="com.certus.vo.UserVO">
    	select * from t_user where id=#{id}
    </select>
	
	
</mapper>

