<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.certus.dao.UserLogsMapper" >
  <resultMap id="BaseResultMap" type="com.certus.dao.UserLogs" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sample_id" property="sampleId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="opt_time" property="optTime" jdbcType="TIMESTAMP" />
    <result column="option" property="option" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sample_id, user_id, opt_time, option
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_logs
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_logs
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.certus.dao.UserLogs" >
    insert into user_logs (id, sample_id, user_id, 
      opt_time, option)
    values (#{id,jdbcType=INTEGER}, #{sampleId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{optTime,jdbcType=TIMESTAMP}, #{option,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.certus.dao.UserLogs" >
    insert into user_logs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sampleId != null" >
        sample_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="optTime != null" >
        opt_time,
      </if>
      <if test="option != null" >
        option,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sampleId != null" >
        #{sampleId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="optTime != null" >
        #{optTime,jdbcType=TIMESTAMP},
      </if>
      <if test="option != null" >
        #{option,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.certus.dao.UserLogs" >
    update user_logs
    <set >
      <if test="sampleId != null" >
        sample_id = #{sampleId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="optTime != null" >
        opt_time = #{optTime,jdbcType=TIMESTAMP},
      </if>
      <if test="option != null" >
        option = #{option,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.certus.dao.UserLogs" >
    update user_logs
    set sample_id = #{sampleId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      opt_time = #{optTime,jdbcType=TIMESTAMP},
      option = #{option,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>