@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
.products_box{width:100%;height:200px;overflow:hidden; margin:20px 75px; margin-top:20px; background:url(../images/index/pro_bg.png) no-repeat scroll; background-size: 1200px 200px;padding-left:31px;}
.box li{ width:284px;height:200px;float:left;overflow:hidden;position:relative; margin-right:1px}
.toll_normal{ width:284px;height:200px; overflow:hidden}
.toll_normal .toll_normal_name,.toll_normal_con{ width:100%; height:auto; margin-top:15px; text-align:center; font-size:18px; color:#636363}
.toll_normal .toll_normal_name{ color:#000}
.toll_normal .toll_normal_con{ font-size:14px}
.toll_normal img{ margin-top:10px; margin-left:100px;}

/* .toll_info{ overflow:hidden; height:146px;width:283px; background:#e98872; color:#fff;}
.toll_info .toll_info_name,.toll_info_con{ width:100%; height:auto; margin-top:15px; text-align:center; font-size:18px;}
.toll_info .toll_info_con{ font-size:14px}
.toll_info a{ margin-top:10px; margin-left:60px; width:169px; height:37px; background:url(../images/index/btn_buy_normal.png) no-repeat; text-align:center; line-height:35px;color:#fff;}
.toll_info a:hover{ background:url(../images/btn_buy_hover.png) no-repeat; color:#fff;} */
.box li .porduct{ color:#666;text-decoration:none;position:absolute;top:0;left:0;cursor:pointer;}